.navbar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px rgb(218, 218, 218);
}

.img1{
    width: 200px;
    height: 100px;
}

.list-div{
    margin-left: auto;
}
.list1{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.list1 li{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
   
}
.list1 li:hover{
    color: red;
    transition: 0.5s;
}

.inner-div{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.img2{
    width: 50vw;
    height: 50vh;
    margin: 20px;
    border-radius: 30px;
}
.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 51px;
    padding: 40px;
    text-align: center;
}

.img3{
    width: 500px;
    height: 300px;
}
.list2{
    padding: 10px;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.card{
    background-color: rgb(143, 236, 255);
    border-radius: 10px;
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
   
}
.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 8px;
}